# backend/requirements.txt
fastapi==0.100.0
python-socketio==5.8.0
uvicorn[standard]==0.23.0
SQLAlchemy==2.0.17
asyncpg==0.27.0
alembic==1.11.1
bcrypt==4.0.1
PyJWT==2.7.0
wordfreq==3.1.1
greenlet>=2.0.0
pydantic[email]
passlib[bcrypt]
